<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>Wizerati</title>
    <meta name="author" content="Ben Aston">
    <meta name="build" content="@@build">
    <style>@@css</style>
    <noscript><link rel="stylesheet" type="text/css" href="stylesheets/no-script.css"></noscript>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body data-ui-mode="-1" data-are-transitions-enabled="false" data-modal="-1" data-hover-is-enabled="true" data-is-mobile-device="false">
<div id="main-container" data-visibility-mode="1">
    <header></header>
    <main></main>
    <footer class="f">@@footer</footer>
</div>
@@no-script
@@no-compatibility
@@javascript
</body>
</html>
