<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>Ben Aston</title>
    <meta name="author" content="Ben Aston">
    <meta name="build" content="@@build">
    <style>@@css</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi, minimal-ui">
</head>
<body>
<div id="main-container">
    <header id="header"></header>
    <main>
        <section id="intro">
            <div id="intro-content">
                <div class="starburst">
                    <div class="ray-2"></div>
                </div>
                <header id="intro-header">
                    <h1>Ben Aston</h1>
                    <div id="sub-heading">Web Technologist</div>
                </header>
                <div id="intro-body">
                    <p>Hi there! I'm Ben Aston, and I am a technologist based in London with a passion for the Web and single-page web applications.</p>

                    <p>As examples of my .NET work, <a href="https://github.com/benaston/NState">NState</a> and <a href="https://github.com/benaston/NFeature">NFeature</a> can be found on both <a href="https://github.com/benaston">GitHub</a> and
                        <a href="http://nuget.org/profiles/benaston">NuGet</a>. An implementation in C# of the distributed election "bully" algorithm can be found <a href="https://github.com/benaston/Taskr">here</a>.</p>

                    <p>For JavaScript and user experience design, my current pet-project <a href="https://github.com/benaston/w">Wizerati</a> is a good example. A work-in-progress single-page web application, Wizerati
                        can be found online at <a href="http://www.wizerati.com">www.wizerati.com</a>.</p>

                    <p>I am available for ad-hoc consultancy &amp; agile coaching. If you'd like to get in touch, my email is ben@bj.ma.</p>

                    <p>Further details on some of the projects I have delivered can be found below.</p>
                    <div id="down-arrow">&#xf103;</div>
                </div>

            </div>
        </section>
        <section id="wizerati">
            <div id="wizerati-content">
                <header id="wizerati-header">
                    <h1>Wizerati</h1>
                    <p>A search engine for IT contracts and contractors.</p>
                </header>
                <div id="wizerati-body" class="clear-both">
                    <p>This application is nothing if not fast and efficient. Superfluous information is absent and
                        the user interface plays only a supporting role to the information the user needs.</p>
                    <figure id="wizerati-figure-1" class="clear-both" >
                        <img id="wizerati-img-1" src="images/wiz1.png"/>
                        <figcaption>The homepage embodies minimalism.</figcaption>
                    </figure>
                    <p>The spartan homepage embodies this philosophy, having evolved into its present form after user-testing tens of different iterations.
                        The resulting interface relies on stark minimalism for impact rather than flashy logos, effects or complicated features - and its form feels somehow <em>inevitable</em>. Indeed this is my personal definition of a high quality user interface - it "feels inevitable". Watching users operate such an interface is great fun - and is conspicuous by the absence of pauses and questions; users know almost intuitively what to do.
                    </p>
                    <figure id="wizerati-figure-2" class="clear-both" >
                        <img id="wizerati-img-4" src="images/wiz5.png"/>
                        <figcaption>Additional affordances on touch-based devices reduce perceived latency.</figcaption>
                    </figure>
                    <p>Web applications have a reputation for being more sluggish than their native counterparts. This application attempts to buck that trend. The entire web application - CSS, fonts, imagery, JavaScript and markup - is
                        delivered in a single compressed HTTP response (or two responses in the currently deployed developmental version for debugging reasons). The application uses a single image (excluding images in search results) - an SVG for the logo - and even this is encoded directly into the page.
                        The result is an application that is significantly quicker over high latency networks and that loads, under optimal network conditions, in less than one second.
                    </p>
                    <figure id="wizerati-figure-3" class="clear-both" >
                        <img id="wizerati-img-2" src="images/wiz8.png"/>
                        <figcaption>The user interface is responsive to screen dimensions - both small...</figcaption>
                    </figure>
                    <p>
                        Perceived responsiveness can of course be just as important as the reality. On touch-based devices a "halo" effect is present to confirm the selection of on-screen items,
                        and avoid doubt about button presses. Importantly this also significantly reduces the perceived latency on devices that have unavoidable delays on 'click' events in web applications.</p>
                    <figure id="wizerati-figure-2" class="clear-both" >
                        <img id="wizerati-img-2" src="images/wiz2.png"/>
                        <figcaption>...and large.</figcaption>
                    </figure>
                    <p>Having run a search, clicking or touching a result updates the screen at near native performance thanks to a combination of client-side caching and the use of DOM element double-buffering. Finally - as far as is possible - changes in position and opacity are controlled using hardware-accelerated CSS3 filters and transforms, providing the best possible chance of a sixty frames-per-second user experience.</p>
                    <p>One of Wizerati's discriminating features is the ability to trivially compare results side-by-side. Take a look at the following video to see how this is achieved:
                    </p>
                    <video id="demo-video" controls="controls" width="400" name="Wizerati result comparison demonstration" src="/movies/wiz.mov"></video>
                </div>
            </div>
        </section><section id="icis-live">
            <div id="icis-live-content">
                <header id="icis-live-header">
                    <h1>ICIS Live</h1>
                    <p>Real-time price alerts.</p>
                </header>
                <div id="icis-live-body" class="clear-both">
                    <p>With an interface reminiscent of a chat application, ICIS Live enables real-time communication of commodity pricing to subscribers.</p>
                    <p>Somewhat unusual in today's world of JavaScript-heavy single-page web applications, this application had to function without JavaScript and involved some clever tricks to ensure it behaved like a system with more client-side logic.</p>

                    <figure id="icis-live-figure-1" class="clear-both" >
                        <img id="icis-live-img-1" src="images/icis-live-1.png"/>
                        <figcaption>ICIS Live provides real-time commodity pricing updates using web sockets.</figcaption>
                    </figure>
                    <p>The interface for ICIS Live was built using an HTML5 flex-box layout to guarantee the message field remained in the
                        view-port regardless of window size. A text-based filter function enables users to rapidly find the correct "channel" associated with the relevant commodity to communicate from. URL fragment identifiers are used to ensure the chat history position remained correct when sending messages.</p>
                    <p>Behind the scenes, messages are delivered instantly to around twenty-thousand subscribers using a TCP socket cloud.</p>
                </div>
            </div>
        </section><section id="justtextgiving">
            <div id="justtextgiving-content">
                <header id="justtextgiving-header">
                    <h1>Vodafone JustText&shy;Giving</h1>
                    <p>Online and SMS-based charitable donations.</p>
                </header>
                <div id="justtextgiving-body" class="clear-both">
                    <p>JustTextGiving, a partnership between JustGiving and
                        Vodafone, enables charitable organisations and members of the general public on behalf of a nominated charity, to accept charitable donations via text message. Users register a code with JustGiving via a web interface. Donations can then be made by sending the code together with an amount (e.g. £5) in an SMS to a five-digit donation number. The donation is then added to the donor's telephone bill.
                    </p>
                    <figure id="justtextgiving-figure-1" class="clear-both" >
                        <img id="icis-live-img-1" src="images/justtextgiving-1.png"/>
                        <figcaption>Vodafone JustTextGiving brings SMS-based charitable donations to charities of all sizes.</figcaption>
                    </figure>
                    <p>JustTextGiving has made charitable donations faster and simpler, helping thousands of charities raise money for good causes.</p>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">@@footer</footer>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-8203792-3', 'bj.ma');
    ga('send', 'pageview');

</script>
</body>
</html>
