<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>Ben Aston</title>
    <meta name="author" content="Ben Aston">
    <meta name="build" content="@@build">
    <style>@@css</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi, minimal-ui">
</head>
<body>
<div id="main-container">
    <header id="header"></header>
    <main>
        <section id="intro">
            <div id="intro-content">
                <header id="intro-header">
                    <h1>Ben Aston</h1>
                    <div id="sub-heading">Web Technologist</div>
                    <img id="paper-plane" src="/images/paper.png" title="Paper Plane"/>
                </header>
                <div id="intro-body">
                    <h2>Writing</h2>
                    <ul class="blog-posts">
                        <li><a href="https://medium.com/@benastontweet/mixins-in-javascript-700ec81f5e5c?source=your-stories">Mixins in JavaScript</a></li>
                        <li><a href="https://medium.com/@benastontweet/implementing-inheritance-in-javascript-2c933d6a70e7?source=your-stories">Implementing Inheritance in JavaScript</a></li>
                        <li><a href="https://medium.com/@benastontweet/this-in-javascript-28f077cfe852?source=your-stories">"this" in JavaScript</a></li>
                        <li><a href="https://medium.com/@benastontweet/closures-in-javascript-ee82ddc0e37c?source=your-stories">Closures in JavaScript</a></li>
                        <li><a href="https://medium.com/@benastontweet/javascript-inheritance-42d2216e9cf1?source=your-stories">JavaScript Inheritance</a></li>
                        <li><a href="https://medium.com/@benastontweet/an-intervention-4535d835e836?source=your-stories">An Intervention</a></li>
                    </ul>

                    <h2>Open Source</h2>
                    <ul class="open-source">
                        <li><a href="https://github.com/benaston/NFeature">NFeature</a></li>
                        <li><a href="https://github.com/benaston/Taskr">Taskr</a></li>
                        <li><a href="https://github.com/benaston/NState">NState</a></li>
                        <li><a href="https://github.com/benaston/event-api">EventAPI</a></li>
                        <li><a href="https://github.com/benaston/mixx">Mixx</a></li>
                    </ul>

                    <h2>Commercial Projects</h2>
                    <ul class="open-source">
                        <li>HSBC HTML5 FX Platform</li>
                        <li>ICIS Live Realtime Commodity Prices</li>
                        <li>ICIS Darwin Editorial System</li>
                        <li>JustGiving/Vodafone JustTextGiving</li>
                        <li>NHS Go Platform</li>
                        <li>Traffic England</li>
                        <li>Intelligence Report Tracking Database (British Army)</li>
                    </ul>

                </div>

            </div>
        </section>
    
    </main>
    <footer id="footer">@@footer</footer>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-8203792-3', 'bj.ma');
    ga('send', 'pageview');
</script>
</body>
</html>
