<html><head>
<title>Frame Communication Demo</title>
<script>
"use strict";
function a(){
	console.log('top this: ', this);
}
</script>
</head>
<frameset cols="30%,70%">
<frame name="Frame1" src="frame1.html">
<frame name="Frame2" src="frame2.html">
</frameset>

