<div id="footer-title-and-byline-container">
    <h1 id="footer-title">Ben Aston</h1>
    <p>A technologist based in London with a passion for the Web and single-page web applications.</p>
</div>
<div id="footer-link-container">
    <a href="http://www.twitter.com/benastontweet">Twitter</a> | <a href="https://www.github.com/benaston">GitHub</a> |
    <a href="https://www.linkedin.com/in/benastonlinkedin">LinkedIn</a>
    <p>ben@bj.ma | 07903040992</p>
</div>
<code class="pgp">-----BEGIN PGP PUBLIC KEY BLOCK-----
Comment: GPGTools - https://gpgtools.org

mQENBFShXxABCADXWFETDuL3+O/y71lAlhjWL4bIZ9fEJvGZReWuMjKToDmLstuc
3aQ94q2nPziOeejXened7zsOANmEC13kO6fGq8kEXT4r6hZLNA5PL+kAS1eVhWUc
M1o1ho/BvBanpijmY2uMpN2/TPVv7bYY8g0FbgvQXxQn4X25mV7uSRc+bSluY3Ig
nLfnZ2t9pkwnygDn2A1reRxethWJSTRFT6bvRZ/6IY4EJvB9iyj9OHT00sqIyqR1
EcCxIONjYwBABSjBze6FPsubUYwPpSdZUOaZ+URmWjOZQuV2oFXW3v36qQzQbJKS
KRTXUEEbtJq4d1Qc+E6J8K1FqRcAsURNzTujABEBAAG0FUJlbiBBc3RvbiA8YmVu
QGJqLm1hPokBNwQTAQoAIQUCVKFfEAIbAwULCQgHAwUVCgkICwUWAgMBAAIeAQIX
gAAKCRCCJFv/hqMmovtOCADLJ6B+DnO3WNYyJ5KIbXrgWfblhOEElQmELxBEG3BL
OhtsJUhQgkSGN+yP0qkNbI2n0AcqQuQU33bWFXrXdEVAwe39WScLR0+zQU38PXZa
Slk99QF55DPIAkmKOdGGm/y7pMNLrI/DIZu6FNtluJJkaOjFLELUaRsamdhaP60k
kCxkIOI4BiX5zDFiXGUkXVVGi2yRrRgyeDAjwj4F4uP8Ba6o9ZHJH7VfGXzrnuxd
R8pl0hEI0bWgtksYIjdfE6xU6ZumAFZ8oqGDGt9xim/W2l72qheorvl5NvOrxe7x
6aUxVSofol3T2Bqxq8BmAgzHkqPtDZt2+gAHgGZ8CjKfuQENBFShXxABCAC8iJln
b/vFfG9VsxIHVEYC/f8Ekb8IhfqpSftv1wQoU1UrPKyzr7zDfv+mvvroScY5vbC7
YmC5xpqtN4NRwWQX7udPV2GtpNZWCca2/o0gpqUMgzrCX4vFubazAp+Nn6KmS8wO
BvR9Z60uHWoKuzQFGsFPc7fYAkTQG7g0gGhkpmiBMvcn9XyApYPQv8m8YyMmLeEi
q5Y78AVe5+cLwm5IkXWujEreTrnQVMswA16JF0ZxaFDAnM9f1uGN0+ZeAQyCxKR/
7Fdn28U0cb+UFMmjdenfVJO778UJA3iaciH4fCO0H6zGnxUZrfAeEjNIJG0iJNRH
KjtpmBUmaMuazzTvABEBAAGJAR8EGAEKAAkFAlShXxACGwwACgkQgiRb/4ajJqIW
5Qf6AscB6WoHF9Dj17SF2O8DHdyKC3wVAfwpM9MRai8wwqicbzlLzds5xgld4O2c
NgQGUMNKMxcb1uIJJYkHFhqgMvnCppUY0hoFKYENbJNYF00+ZoRIAehIWfvnnHPk
I2n2IVCpL+RwbpC0/3m8ijYFKPxlmIqo5MQeHKZvksrpL9W3liLYWid5UQGVdO2v
1Sqv7XcWPegTT9q73IXcr87pC33Uv2VI4vDiwUcVWbN36YJgnQS3DQdlpn0h5PDV
6/gzf4ZO+AL7kuZAdGMGkbQ78e2sbAZvMECasiR9+NT+K03zO8FjDDAY2guI6/7V
UghR2bCbTxnG0EL2f+pkOt3U7A==
=05/D
-----END PGP PUBLIC KEY BLOCK-----</code>