@font-face {
    font-family: ionicons;
    src: url('../fonts/ionicons.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: helvetica-pro-light;
    src: url('../fonts/helvetica-pro-light.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: helvetica-bold;
    src: url('../fonts/helvetica-bold.woff');
    font-weight: normal;
    font-style: normal;
}

#intro::after,
#wizerati::after,
#icis-live::after,
#justtextgiving::after {
    display: block;
    content: '';
    clear: both;
}

#intro, #wizerati, #icis-live, #justtextgiving {
    padding: 40px 0 40px 0;
    box-sizing: border-box;
    min-height: 650px;
}

#intro {
    background: rgba(255, 255, 255, 1)
}

#wizerati, #header {
    background: rgba(0, 158, 225, 1)
}

#icis-live {
    background: rgba(255, 132, 22, 1);
}

#justtextgiving {
    /*background: rgba(0, 157, 92, 1)*/
    background: rgba(26, 185, 154, 1)
}

#intro-header {
    float: left;
    width: 50%;
}

#intro-header h1 {
    font-size: 7rem;
    line-height: 6rem;
}

#intro-header h1,
#wizerati-header h1,
#icis-live-header h1,
#justtextgiving-header h1 {
    margin: 0;
}

#wizerati-header h1,
#icis-live-header h1,
#justtextgiving-header h1 {
    font-size: 2rem;
    line-height: 2rem;
}

#wizerati-header,
#icis-live-header,
#justtextgiving-header {
    margin: 0 0 20px 0;
}

#sub-heading {
    font-size: 2rem;
}

#intro-content,
#wizerati-content,
#icis-live-content,
#justtextgiving-content {
    width: 80%;
    margin: auto;
    max-width: 900px;
}

#intro-body {
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding-left: 60px;
}

p:not(:last-of-type) {
    margin-bottom: 10px;
}

#wizerati-img-2 {
    width: 100%;
}

#icis-live-figure-1 {
    float: left;
    width: 50%;
    margin: 30px;
}

#wizerati-figure-2 {
    float: left;
    width: 50%;
    margin: 30px;
}

#wizerati-figure-1 {
    float: left;
    width: 40%;
    max-width: 400px;
    margin: 30px;
}

#wizerati-figure-4 {
    float: right;
    width: 40%;
    max-width: 300px;
    margin: 30px;
}

#wizerati-figure-6 {
    float: left;
    width: 50%;
    margin: 30px;
}

#wizerati-img-6 {
    width: 200px;
}

#wizerati-img-7 {
    width: 400px;
}

#wizerati-img-1 {
    width: 100%;
}

#icis-live-img-1 {
    width: 100%;
}

#wizerati-img-4 {
    float: right;
    width: 100%;
}

.clear-both::after {
    content: '';
    display: block;
    clear: both;
}

#wizerati-body p:before,
#icis-live-body p:before,
#justtextgiving-body p:before {
    content: "";
    width: 200px;
    display: block;
    overflow: hidden;
}

#down-arrow {
    font-family: ionicons;
    font-size: 2rem;
}

body {
    min-width: 800px;
}

#header {
    height: 10px;
}

@media only screen and (max-device-width: 568px) {
    body {
        min-width: 320px;
    }

    #intro-header {
        display: block;
        float: none;
        width: 100%;
    }

    #intro-body {
        display: block;
        float: none;
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }

    #intro-header h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

    #sub-heading {
        font-size: 1rem;
    }

    #intro, #wizerati, #icis-live, #justtextgiving {
        padding: 40px 0 40px 0;
    }

    .starburst {
        display: none;
    }
}